{% extends "main.html" %}

<!-- Content -->
{% block content %}
  <h1>Uh oh! 404 - Page not found :/</h1>

  <p>We're sorry you reached this page as it was not intended.</p>
      
    <p>If this was the result of a link on our site, please <a href="https://github.com/microsoft/ComplianceCxE/issues/new?title=&body=%0A%0A%5BEnter%20broken%20URL%20here%5D" id="githubFeedback">submit an issue on Github by clicking here.</a></p>

    <script>
    document.getElementById("githubFeedback").href = "https://github.com/microsoft/ComplianceCxE/issues/new?title=&body=The%20following%20URL%20produced%20a%20404%20error%3A%20" + document.baseURI + "%5D%0A%0A%0AThe%20referring%20URL%20was%3A%20" + document.referrer
    </script>
{% endblock %}

<!-- Disqus integration -->
{% block disqus %}{% endblock %}
