:root {
    /* Primary color shades */
    --md-primary-fg-color:               #005496;
    --md-primary-fg-color--light:        #005496;
    --md-primary-fg-color--dark:         #005496;
    --md-primary-bg-color:               #ffffff;
    --md-primary-bg-color--light:        #ffffff;
    --md-text-link-color:                #005496;

    /* Accent color shades */
    --md-accent-fg-color:                #005496;
    --md-accent-fg-color--transparent:   #005496;
    --md-accent-bg-color:                #005496;
    --md-accent-bg-color--light:         #005496; 
}
[data-md-color-scheme="slate"] {

    --md-default-bg-color:             hsla(0, 0%, 9%, 1);
    --md-default-bg-color--light:      hsla(0, 0%, 9%, 0.54);
    --md-default-bg-color--lighter:    hsla(0, 0%, 9%, 0.26);
    --md-default-bg-color--lightest:   hsla(0, 0%, 9%, 0.07);

    --md-code-bg-color:                hsla(0, 0%, 9%, 1);

    --md-footer-bg-color:              hsla(0, 0%, 10%, 0.87);
    --md-footer-bg-color--dark:        hsla(0, 0%, 4%, 1);

    --md-typeset-a-color:              #0066CC;
    
  }
@media screen and (min-width: 48em){
  .md-content {
      text-align: justify;
  }
}
  figure {
    padding: 4px;
    margin: auto;
  }
  figcaption {
    font-style: italic;
    font-size: small;
    padding: 2px;
    text-align: center;
  }
  .md-grid {
    max-width: 1440px;
  }
  
  
  