:root {
    /* Primary color shades */
    --md-primary-fg-color:               #005496;
    --md-primary-fg-color--light:        #005496;
    --md-primary-fg-color--dark:         #005496;
    --md-primary-bg-color:               #ffffff;
    --md-primary-bg-color--light:        #ffffff;
    --md-text-link-color:                #0078d4;

    /* Accent color shades */
    --md-accent-fg-color:                #004578;
    --md-accent-fg-color--transparent:   #deecf9;
    --md-accent-bg-color:                #005496;
    --md-accent-bg-color--light:         #005496; 
}
[data-md-color-scheme="slate"] {

    --md-default-bg-color:             hsla(0, 0%, 9%, 1);
    --md-default-bg-color--light:      hsla(0, 0%, 9%, 0.54);
    --md-default-bg-color--lighter:    hsla(0, 0%, 9%, 0.26);
    --md-default-bg-color--lightest:   hsla(0, 0%, 9%, 0.07);

    --md-code-bg-color:                hsla(0, 0%, 9%, 1);

    --md-footer-bg-color:              hsla(0, 0%, 10%, 0.87);
    --md-footer-bg-color--dark:        hsla(0, 0%, 4%, 1);

    --md-typeset-a-color:              #0078d4;
    
  }
@media screen and (min-width: 48em){
  .md-content {
      text-align: left;
  }
}
  figure {
    padding: 4px;
    margin: auto;
  }
  figcaption {
    font-style: italic;
    font-size: small;
    padding: 2px;
    text-align: center;
  }
  .md-grid {
    max-width: 1440px;
  }
  
.error {
  color: #c50f1f;
}

.warning {
  color: #ffc83d;
}

.success {
  color: #498205;
}

.na {
  color: #b3b0ad;
}

.pink {
  color: #b4009e;
} 

.wrd {
  color: #2b579a;
} 

.xls {
  color: #217346;
} 

.ppt {
  color: #b7472a;
} 

.olk {
  color: #0078d4;
} 

.preview {
  color: #881798;
} 

.development {
  color: #881798;
} 

.notplanned {
  color: #d13438;
} 

.notsupported {
  color: #d13438;
} 

.planning {
    color: #986f0b;
}

.num {
    color: #e3008c;
    transform-origin: left top;
    transform: scale(3);
}
