:root {
    /* Primary color shades */
    --md-primary-fg-color:               #005496;
    --md-primary-fg-color--light:        #ffffff;
    --md-primary-fg-color--dark:         #005496;
    --md-primary-bg-color:               #ffffff;
    --md-primary-bg-color--light:        #ffffff;
    --md-text-link-color:                #005496;

    /* Accent color shades */
    --md-accent-fg-color:                #005496;
    --md-accent-fg-color--transparent:   #005496;
    --md-accent-bg-color:                #005496;
    --md-accent-bg-color--light:         #005496; 
}
[data-md-color-scheme="slate"] {
    --md-hue: 222;  /*[0, 360] */
  }